<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.coordination.mapper.AppraisalReviewMapper">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        APPRAISE_RESULT_ID, WRITING_BATCH_ID, APPRAISAL_REVIEW_STATUS, APPRAISAL_REVIEW_RESULT, APPRAISAL_REVIEW_TIME, APPRAISAL_REVIEW_USER, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <select id="appraisalReviewPage" resultType="com.tree.clouds.coordination.model.bo.AppraisalReviewBO">
        select
        b.*,a.APPRAISE_RESULT_ID,a.WRITING_BATCH_ID,a.APPRALSE_NUMBER,a.APPRAISAL_REVIEW_STATUS,a.APPRAISAL_REVIEW_RESULT_ONE,a.APPRAISAL_REVIEW_RESULT_TWO,a.APPRALSE_NUMBER
        from appraisal_review a
        left JOIN data_report b on a.report_ID=b.report_ID
        where 1=1
        <if test="appraisalReviewPageVO.appralseNumber != null and appraisalReviewPageVO.appralseNumber !=''">
            and b.appralseNumber=#{appraisalReviewBO.appralseNumber}
        </if>
        <if test="appraisalReviewPageVO.identifiedName != null and appraisalReviewPageVO.identifiedName !=''">
            and b.identified_name like "%"#{appraisalReviewBO.identifiedName}"%"
        </if>
        <if test="appraisalReviewPageVO.category != null and appraisalReviewPageVO.category !=''">
            and b.category=#{appraisalReviewBO.category}
        </if>
        <if test="appraisalReviewPageVO.sort != null and appraisalReviewPageVO.sort !=''">
            and b.sort=#{appraisalReviewBO.sort}
        </if>
        <if test="appraisalReviewPageVO.phoneNumber != null and appraisalReviewPageVO.phoneNumber !=''">
            and b.phone_number=#{appraisalReviewBO.phoneNumber}
        </if>
        <if test="appraisalReviewPageVO.taskType != null and appraisalReviewPageVO.taskType !=''">
            and b.task_type=#{appraisalReviewBO.taskType}
        </if>
        <if test="appraisalReviewPageVO.sex != null and appraisalReviewPageVO.sex !=''">
            and b.sex=#{appraisalReviewBO.sex}
        </if>
    </select>

</mapper>
