<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.coordination.mapper.EvaluationSheetDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.coordination.model.entity.EvaluationSheetDetail">
        <result column="EVALUATION_DETAIL_ID" property="evaluationDetailId"/>
        <result column="EVALUATION_ID" property="evaluationId"/>
        <result column="USER_ID" property="userId"/>
        <result column="EXPERT_TYPE" property="expertType"/>
        <result column="GROUP_LEADER" property="groupLeader"/>
        <result column="PARTICIPATION_STATUS" property="participationStatus"/>
        <result column="REMARK" property="remark"/>
        <result column="CREATED_USER" property="createdUser"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_USER" property="updatedUser"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="DEL" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EVALUATION_DETAIL_ID, EVALUATION_ID, USER_ID, EXPERT_TYPE, GROUP_LEADER, PARTICIPATION_STATUS, REMARK, CREATED_USER, CREATED_TIME, UPDATED_USER, UPDATED_TIME, DEL
    </sql>
    <select id="expertDetailPage" resultType="com.tree.clouds.coordination.model.vo.ExpertDetailVO">
        select a.DRAW_TIME,b.* ,c.* from evaluation_sheet a
        left join evaluation_sheet_detail b on a.EVALUATION_ID=b.EVALUATION_ID
        left join user_manage c on c.USER_ID =b.USER_ID
        where a.WRITING_BATCH_ID=#{writingBatchVO.writingBatchId} and b.EXPERT_TYPE =1
        <if test="writingBatchVO.participationStatus !=null">
            and b.participation_Status=#{writingBatchVO.participationStatus}
        </if>
    </select>


</mapper>
