<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tree.clouds.coordination.mapper.ReviewSignatureMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tree.clouds.coordination.model.entity.ReviewSignature">
        <result column="REVIEW_AND_SIGNATURE_ID" property="reviewAndSignatureId"/>
        <result column="WRITING_BATCH_ID" property="writingBatchId"/>
        <result column="REVIEW_TIME" property="reviewTime"/>
        <result column="REVIEW_STATUS" property="reviewStatus"/>
        <result column="CREATED_USER" property="createdUser"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_USER" property="updatedUser"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="DEL" property="del"/>
    </resultMap>

    <!--    &lt;!&ndash; 通用查询结果列 &ndash;&gt;-->
    <!--    <sql id="Base_Column_List">-->
    <!--        REVIEW_AND_SIGNATURE_ID, WRITING_BATCH_ID, REVIEW_TIME, REVIEW_STATUS, CREATED_USER, CREATED_TIME, UPDATED_USER,-->
    <!--        UPDATED_TIME, DEL-->
    <!--    </sql>-->
    <select id="reviewSignaturePage" resultType="com.tree.clouds.coordination.model.bo.ReviewSignatureBO">
        select b.*,a.REVIEW_AND_SIGNATURE_ID,a.WRITING_BATCH_ID,a.APPRAISE_NUMBER,a.REVIEW_STATUS,a.REVIEW_RESULT from
        review_signature a
        left Join data_report b on a.report_ID=b.report_ID
        where 1=1
        <if test="reviewPageVO.writingBatchId != null and reviewPageVO.writingBatchId !=''">
            and a.writing_batch_id=#{reviewPageVO.writingBatchId}
        </if>
        <if test="reviewPageVO.appraiseNumber != null and reviewPageVO.appraiseNumber !=''">
            and a.appraise_number=#{reviewPageVO.appraiseNumber}
        </if>
        <if test="reviewPageVO.identifiedName != null and reviewPageVO.identifiedName !=''">
            and b.identified_name like "%"#{reviewPageVO.identifiedName}"%"
        </if>
        <if test="reviewPageVO.category != null and reviewPageVO.category !=''">
            and b.category=#{reviewPageVO.category}
        </if>
        <if test="reviewPageVO.sort != null and reviewPageVO.sort !=''">
            and b.sort=#{reviewPageVO.sort}
        </if>
        <if test="reviewPageVO.phoneNumber != null and reviewPageVO.phoneNumber !=''">
            and b.phone_number=#{reviewPageVO.phoneNumber}
        </if>

        <if test="reviewPageVO.sex != null and reviewPageVO.sex !=''">
            and b.sex=#{reviewPageVO.sex}
        </if>
        <if test="reviewPageVO.appraisalReviewTimeStart != null and reviewPageVO.appraisalReviewTimeStart !=''">
            and b.appraisal_review_time>=#{reviewPageVO.appraisalReviewTimeStart}
        </if>
        <if test="reviewPageVO.appraisalReviewTimeEnd != null and reviewPageVO.appraisalReviewTimeEnd !=''">
            and b.appraisal_review_time &lt;= #{reviewPageVO.appraisalReviewTimeEnd}
        </if>
    </select>
    <select id="writingResultPage" resultType="com.tree.clouds.coordination.model.bo.WritingResultBO">
        select b.*,d.file_path as fileId , a.WRITING_BATCH_ID, a.APPRAISE_NUMBER,a.APPRAISAL_REVIEW_TIME_TWO as
        reviewTime
        from appraisal_review a
        left Join data_report b on a.report_ID = b.report_ID
        left Join message_info c on a.report_ID = c.report_ID
        left Join file_info d on d.biz_id = c.message_id
        where b.EXAMINE_PROGRESS >= 6 and d.file_path is not null
        <if test="writingResultPageVO.writingBatchId != null and writingResultPageVO.writingBatchId != ''">
            and a.writing_batch_Id = #{writingResultPageVO.writingBatchId}
        </if>
        <if test="writingResultPageVO.appraiseNumber != null and writingResultPageVO.appraiseNumber != ''">
            and a.appraise_number = #{writingResultPageVO.appraiseNumber}
        </if>
        <if test="writingResultPageVO.identifiedName != null and writingResultPageVO.identifiedName != ''">
            and b.identified_name = #{writingResultPageVO.identifiedName}
        </if>
        <if test="writingResultPageVO.sex != null and writingResultPageVO.sex != ''">
            and b.sex = #{writingResultPageVO.sex}
        </if>
        <if test="writingResultPageVO.phoneNumber != null and writingResultPageVO.phoneNumber != ''">
            and b.phone_number = #{writingResultPageVO.phoneNumber}
        </if>

        <if test="writingResultPageVO.resultFile != null and writingResultPageVO.resultFile != ''">
            and a.result_file = #{writingResultPageVO.resultFile}
        </if>
        <if test="writingResultPageVO.reportTimeStart != null and writingResultPageVO.reportTimeStart != ''">
            and b.CREATED_TIME >= #{writingResultPageVO.reportTimeStart}
        </if>
        <if test="writingResultPageVO.reportTimeEnd != null and writingResultPageVO.reportTimeEnd != ''">
            and b.CREATED_TIME &lt;= #{writingResultPageVO.reportTimeEnd}
        </if>
    </select>


</mapper>
